/* hard reset */
*,
**::after,
**::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
   
}

html{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    margin: 2rem; 
    color: #ffff;
    background-color:#000 ;
}

.contenedor_principal {
    display: flex;
    position: fixed;
    width: 25%;
    overflow-x: hidden;
    padding-left:.5rem;

}

.targeta_presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    margin: 0 2rem;
    padding-top: .1rem;   

}

.nombre {
    border-radius: 4rem;
    margin: 2rem 3rem;
    padding-left: 2rem;
    font-family: sans-serif;
}

.profesion {
    text-align: center;
    margin:1rem 3rem;
    border-radius: 4rem;
    font-weight: bold;    
}

.contenedor_presentacion {
    display: flex;
    padding-right: 5rem;
}

.foto_presentacion {
    width: 20rem;
    height: 20rem;
    margin: 2rem;
    border-radius: 4rem;
}

.redes_sociales {
    list-style: none;   
    background-color:#808080;
    border-radius: 1rem;
    margin-left: 2rem;  
}

.rs1:hover {
    background-color: #1877F2;
    border-radius: 2rem; 
}

.rs2{
    border-radius: 2rem;
}
.rs2:hover:hover {
    background: linear-gradient(45deg, #833AB4, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80)  
}

.rs3:hover {
    background-color:#1DA1F2;
    border-radius: 2rem;   
}

.rs4:hover {
    background-color:#181717;
    border-radius:2rem; 
}

.rs5:hover {
    background-color:#5865F2 ;
    border-radius: 2rem; 
}

.correo{
    border-radius: 4rem;
    margin:2rem 4rem;
    padding-left: 3.2rem;
    height: 2.5rem;
    padding-top: 1rem;  
    background-color: #fff;  
    color: #000;
}

.correo:hover {
    background-color: #39ff14;
    border-radius: 2rem;
}

.contact-me {
    border-radius: 4rem;
    margin: .3rem auto;
    width: 16rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-style: solid;
    border-color: #fff;   
    font-weight: bolder;
    color: #000;
}

.contact-me:hover  {
    background-color:#39ff14;
}

/* aqui inicia el header */

header {
    /* width: 75%; */
    margin-left: 38rem;
    margin-right: 10rem;
}

.encabezado {
    margin:0 3rem;
}

.saludo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 8rem;
    padding: 2rem;
}

span {
    color: #39ff14;
}

.texto1 {
    display: flex;
    margin-bottom: 3rem;
    font-size:large;
    font-weight: bold;
    line-height: 3rem;
    justify-content: center;   
}



.menu {
    position: fixed;
    overflow-x: hidden;
    top: 90%;
    left: 60%;
    transform: translate(-90%, -60%);
}

.submenu {
    border-radius: 5rem;
    background-color: transparent;
    display: flex;
    gap: 1rem;
    list-style: none;
    padding-top: 2rem;
}

/* figcaption { para poner un texto al pasar el mouse pero no me gusto como quedaba 
    display: none;
    transition: all .5s;
    color: #39ff14;
    list-style: none;
}

figure:hover > figcaption {
    display: block;
    transition: all 0.5s;
} */


.submenu li img {
    width: 5rem;
    height: 2.5rem;
    border-radius: 8rem;
    margin-bottom: 1.2rem;     
    padding-bottom: .6rem;  
    margin-right: 2rem;
    background-color: #ffff;
}

.submenu li img:hover {
    background-color: #39ff14;
}


/* aqui inicia el main */

main {
    /* width: 75%; */
    margin-left: 38rem;
    margin-right: 10rem;
}

.sobre {
    padding:3rem 3rem 0;
}

.saludo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 8rem;
    padding: 2rem;
}

div p {
    margin-bottom: 3rem; 
    margin-top: 1rem;
    font-size:large;
    font-weight:lighter;
    line-height: 2rem;
    justify-content: center;
}

/* 2da seccion */

.educacion {
    padding: 3rem 3rem 0;
}

.estudios {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5rem; 
}

.lenguajes {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    padding-right: 2.5rem;
}

.skill {
    margin: 2rem 1rem;
    padding-right: 2.5rem;
    font-size: large;
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.parrafo {
    margin-bottom: 2rem; 
    margin-top: 1rem;
    font-size:large;
    font-weight:lighter;
    line-height: 2rem;
    justify-content: center;
   
}

/* inica 3ra seccion  */

.proyect {
    padding: 3rem 3rem 0;
}

.logos {
    display: flex;
    list-style: none;
    justify-content: space-between;  
    margin-left: 5rem;  
    margin-right: 5rem;
    margin-top: 15rem;  
}

/* inica 4ta seccion  */

.contact-form {
    padding: 3rem 3rem 0;
}

.form{
    color: #39ff14;
    margin-top: .3rem;

}

.contact {
    border-radius: 1rem;
    margin: 4rem 5rem;
    display: flex;
    gap: 2rem;   
}

.mensaje {
    margin-left:10rem;
    margin-right: 10rem;
    padding-left: 17rem;
    height: 20rem;
}

/* aqui inicia el footer */

footer {
    /* width: 75%; */
    margin-left: 44rem;
    margin-right: 10rem;
    height: 5rem;
    
}

/* Media Queries */
@media (max-width: 480px) {
    .header, main {
        margin: 0 2rem;
    }

    .skills {
        margin: 1rem 0;
        padding: 1rem;
        flex-direction: column;
    }

    .skills li {
        margin-bottom: 1rem;
    }
    
    .flex {
        position: relative;
    }

    .presentacion {
        padding: 2rem 1rem;
        display: none;
    }

    .contenedor {
        width: 100%;
        margin: 2rem 0;
    }

    h1 {
        font-size: 5rem;
        text-align: center;
    }
}



